@import "../../../../../projeto-educainvest/src/styles.scss";

*{
    color: $color_textos;
}

.cronograma{
    width: 100%;
    height: 40vh;
    padding: 23px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $color_dark2;
    border-radius: 10px;
    padding: 25px;
    // border: solid 1px white;

    h1{
        font-size: 25px;
    }
}

.first-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    gap: 15px;

    img{
        height: 49px;
    }
}

.title, .btn_sm.a{
    height: 49px;
    align-items: center;
}

.btn_sm:hover{
    color: $color_amarelosecundario;
    cursor: pointer;
}

.cards{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.section-content div{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content img{
    width: 90px;
    height: 90px;
}