<div style="display: flex; flex-direction: row; gap: 2px; flex-wrap: wrap">
    @for(project of project; track project){
    <div class="card me-4 p-0">
        <!-- Verifica se existe uma imagem do projeto, caso contrário, usa a imagem padrão -->
        <div style="width: 100%; background-color: blue; height: 10px; border-radius: 5px 5px 0 0 ;"></div>
        <div class="card-body">
            <h1 class="card-title">{{ project.nomeProjeto }}</h1>
            <p class="card-text m-0">{{ project.descricaoProjeto }}</p>
        </div>
        <div class="button-dot" style="display: flex; justify-content: flex-end">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 256 256">
                    <path fill="white"
                        d="M144 128a16 16 0 1 1-16-16a16 16 0 0 1 16 16m-84-16a16 16 0 1 0 16 16a16 16 0 0 0-16-16m136 0a16 16 0 1 0 16 16a16 16 0 0 0-16-16" />
                </svg>
            </button>
            <mat-menu #menu="matMenu" class="btn-menu">
                <button mat-menu-item type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UploadProjectFormModal" 
                (click)="updateProjectForm.patchValue({
                  id: project.id, 
                  nomeProjeto: project.nomeProjeto, 
                  subtitulo: project.subtitulo, 
                  descricaoProjeto: project.descricaoProjeto, 
                  dataPublicacao: project.dataPublicacao, 
                }); uploadProjectFormModal.open()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="white" d="M3 17.25v3.25a.75.75 0 0 0 .75.75H7l11.43-11.43l-3.25-3.25L3 17.25zM20.71 7.04a1 1 0 0 0 0-1.42l-1.83-1.83a1 1 0 0 0-1.42 0l-2.12 2.12l3.25 3.25l2.12-2.12z"/>
                </svg>
                <span>Editar</span>
              </button>

                <button mat-menu-item (click)="deleteProject(project.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="white"
                            d="M20 6a1 1 0 0 1 .117 1.993L20 8h-.081L19 19a3 3 0 0 1-2.824 2.995L16 22H8c-1.598 0-2.904-1.249-2.992-2.75l-.005-.167L4.08 8H4a1 1 0 0 1-.117-1.993L4 6zm-9.489 5.14a1 1 0 0 0-1.218 1.567L10.585 14l-1.292 1.293l-.083.094a1 1 0 0 0 1.497 1.32L12 15.415l1.293 1.292l.094.083a1 1 0 0 0 1.32-1.497L13.415 14l1.292-1.293l.083-.094a1 1 0 0 0-1.497-1.32L12 12.585l-1.293-1.292l-.094-.083zM14 2a2 2 0 0 1 2 2a1 1 0 0 1-1.993.117L14 4h-4l-.007.117A1 1 0 0 1 8 4a2 2 0 0 1 1.85-1.995L10 2z" />
                    </svg>
                    <span>Excluir</span>
                </button>
            </mat-menu>
        </div>

    </div>
    }
</div>

<!-- Modal para editar informaçoes do projeto -->
<!-- Modal -->
<div class="a">
  <div class="modal modal-lg fade" id="UploadProjectFormModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div style="height: fit-content;">
            <form [formGroup]="updateProjectForm">
              <div class="row">
                <div class="col-9 left-content">
                  <div class="header">
                    <div class="col" style="height: fit-content;">
                      <div class="col p-0 inputs-header">
                        <input type="text" class="form-control row" formControlName="nomeProjeto" style="width: 100%;"
                          placeholder="Insira o Título" aria-label="Titulo Projeto">

                        <input type="text" class="form-control row" formControlName="subtitulo" style="width: 100%;"
                          placeholder="Insira o Subtítulo" aria-label="Subtitulo Projeto">

                        <div class="lb-date col">
                          <div class="row row-12 p-0 m-0">
                            <div class="col-6 p-0">
                              <label class="mb-2 row" for="dataPublicacao">Data de Publicação:</label>
                              <input class="row" type="text" id="dataPublicacao" formControlName="dataPublicacao"
                                readonly>
                            </div>
                            <div class="col-6 p-0">
                              <label class="mb-2">Status de andamento do Projeto</label>
                              <div class="btn-group">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                  <option selected>Status Atual</option>
                                  <option value="1">Pendente</option>
                                  <option value="2">Em andamento</option>
                                  <option value="3">Concluído</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Descrição do projeto-->
                  <div class="form-group">
                    <div class="mb-3 details">
                      <label for="descricaoProjeto" class="form-label mb-3">Descrição</label>
                      <textarea class="form-control" formControlName="descricaoProjeto" id="descricaoProjeto" rows="6"
                        placeholder="Este campo destina-se à inserção da descrição do projeto, fornecendo uma explicação concisa sobre objetivos e características essenciais. Uma descrição clara e informativa ajudará a comunicar de maneira eficaz os detalhes de seu projeto, facilitando sua compreensão. Seja detalhado, mas objetivo para garantir compreensão rápida e precisa."></textarea>
                    </div>
                  </div>

                  <section class="project-group mb-3">
                    <div class="row row-12">
                      <h2 class="m-0 col-5 p-0">Cronograma de Atividades</h2>
                      <button type="button" class="btn col-7 p-0 mt-1" mat-icon-button style="display: flex;justify-content: flex-start;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path fill="white"
                            d="M7.007 12a.75.75 0 0 1 .75-.75h3.493V7.757a.75.75 0 0 1 1.5 0v3.493h3.493a.75.75 0 1 1 0 1.5H12.75v3.493a.75.75 0 0 1-1.5 0V12.75H7.757a.75.75 0 0 1-.75-.75" />
                          <path fill="white" fill-rule="evenodd"
                            d="M7.317 3.769a42.502 42.502 0 0 1 9.366 0c1.827.204 3.302 1.643 3.516 3.48c.37 3.157.37 6.346 0 9.503c-.215 1.837-1.69 3.275-3.516 3.48a42.5 42.5 0 0 1-9.366 0c-1.827-.205-3.302-1.643-3.516-3.48a40.903 40.903 0 0 1 0-9.503c.214-1.837 1.69-3.276 3.516-3.48m9.2 1.49a41.001 41.001 0 0 0-9.034 0A2.486 2.486 0 0 0 5.29 7.424a39.402 39.402 0 0 0 0 9.154a2.486 2.486 0 0 0 2.193 2.164c2.977.332 6.057.332 9.034 0a2.486 2.486 0 0 0 2.192-2.164a39.401 39.401 0 0 0 0-9.154a2.486 2.486 0 0 0-2.192-2.163"
                            clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                    <div>
                      <!-- <app-schedule></app-schedule> -->
                    </div>
                  </section>

                  <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button (click)="updateProject()" data-bs-dismiss="modal" type="submit"
                      class="btn btn-primary">Editar</button>
                  </div>
                  <!-- [disabled]="this.postProjectForm.invalid"</div> -->
                </div>
                <!--Conteudo a direita-->
                <div class="col-3 right-content">
                  <section class="project-progress"
                    style="border-bottom: solid 1px rgba(255, 255, 255, 0.374); padding-bottom: 15px;">
                    <h2>Andamento do Projeto</h2>

                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </section>
                  <!-- 
                  <section class="project-price">
                    <h2>Status de andamento</h2>
                    <input type="number" placeholder="R$ 0,00" formControlName="custoProjeto">
                  </section> -->

                  <section>
                    <h2>Atividade</h2>
                    <div class="card-task mb-2">
                      <div class="card-body-task m-0 p-0"
                        style="display: flex; height: 33px; border: none; background-color: #C4C3D0;  border-radius: 5px;">
                        <div class="status-color" style="background-color: red;
                                height: 100%;
                                width: 20px;
                                border-radius: 5px 0 0 5px;;"></div>

                        <h1 style="color:#292929;
                              font-size: 15px; 
                              width: 100%; 
                              height: max-content;
                              padding: 0;
                              margin: 0;
                              margin-left:10px;">Pendente</h1>

                        <h2 style="color: #292929;
                              margin: 0;
                              height: max-content; 
                              width: 100%; 
                              font-size: 15px; 
                              padding: 0;
                              text-align: end;
                              margin-right: 15px;">--</h2>
                      </div>
                    </div>

                    <div class="card-task mb-2">
                      <div class="card-body-task m-0 p-0"
                        style="display: flex; height: 33px; border: none; background-color: #C4C3D0;  border-radius: 5px;">
                        <div class="status-color" style="background-color: orange;
                                height: 100%;
                                width: 20px;
                                border-radius: 5px 0 0 5px;"></div>

                        <h1 style="color:#292929;
                              font-size: 15px; 
                              width: 100%; 
                              flex-wrap: nowrap;
                              height: max-content;
                              padding: 0;
                              margin: 0;
                              margin-left:10px;">Desenvolvendo</h1>

                        <h2 style="color: #292929;
                              margin: 0;
                              height: max-content; 
                              width: 100%; 
                              font-size: 15px; 
                              padding: 0;
                              text-align: end;
                              margin-right: 15px;">--</h2>
                      </div>
                    </div>

                    <div class="card-task mb-2">
                      <div class="card-body-task m-0 p-0"
                        style="display: flex; height: 33px; border: none; background-color: #C4C3D0; border-radius: 5px;">
                        <div class="status-color" style="background-color: #14C006;
                                height: 100%;
                                width: 20px;
                                border-radius: 5px 0 0 5px;;"></div>

                        <h1 style="color:#292929;
                              font-size: 15px; 
                              width: 100%; 
                              height: max-content;
                              padding: 0;
                              margin: 0;
                              margin-left:10px;">Concluída</h1>

                        <h2 style="color: #292929;
                              margin: 0;
                              height: max-content; 
                              width: 100%; 
                              font-size: 15px; 
                              padding: 0;
                              text-align: end;
                              margin-right: 15px;">--</h2>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>