@import "../../../../../projeto-educainvest/src/styles.scss";

.card {
    width: 230px;
    height: 230px;
    background-color: $color_compfundo2;
    color: $color_textos;
    margin-bottom: 35px;

    h1 {
        padding-top: 5px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    p.card-text {
        width: 200px;
        font-size: 14px;
        margin: 0;
        font-weight: 300;
  
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

.card-body {
    margin: 0;
    padding: 5px 8px 0px 8px;
}

.card-img {
    height: 86.04px;
    border: none;
    padding: 0;
    margin: 0;
}