<div class="my-projects">
    <div class="first-content">
        <div class="title">
            <img src="../../assets/img/icon/rectangle2-icon.svg" alt="icon" style="width: 15px; height: 40px;">
            <h1>Grupos de Projeto</h1>
        </div>
        <div class="btn_sm">
            <a>Ver Todos</a>
        </div>
    </div>
    <div class="section-content">
        <div class="project-group">
            <div class="img">
                <img src="../../assets/img/icon/image-icon.svg" alt="">
            </div>
            <h3>name 1, name 2...</h3>
        </div>
    </div>
</div>