@import "../../../../../../projeto-educainvest/src/styles.scss";

nav{
    width: 198px;
    overflow: hidden;
}

.side-nav{
    width: 198px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color_amareloprincipal;


    .user-hello{
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    .user-image{
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }

    h1{
        font-size: 20px;
        margin-top: 9px;
    }
    
    .line{
    width: 235px;
    background-color: $color_fundodark;
    height: 0.50px;
    margin-top: 159px;
    }
}

.nav-list{
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0;

    li{
        list-style-type: none;   
        border-radius: 7px;
        padding: 10px;     
    }

    li:hover{
        background-color: rgba(255, 255, 255, 0.202);
    }

    img{
        width: 23px;
        height: 23px;
        margin-right: 10px;
    }
    
    // .pagina-atual{ /*colocar depois no css de cada pagina*/
    //     color: $color_azulprincipal;
    //     font-weight: 600;
    // }

    a{
        text-decoration: none;
        color: $color_fundodark;
        height: 68px;
    }

    .nav-list-item{
        align-items: center;
        
    }

    .sair{
        padding-bottom: 28px;
        position: absolute; 
        bottom: 0;
        display: flex;
        align-items: center;
        

        span{
            font-size: 17px;
        }
    }

//     .sair img{
//         padding-right: 12px;
//     }
}






