<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <div class="container">
                <input class="form-control me-2" type="search" placeholder="Search here..." aria-label="Search">
                <button class="btn-search" type="submit"><img src="../../../assets/img/icon/search-icon.svg"></button>
            </div>
            <img class="notification-icon" src="../../../assets/img/icon/notification-icon.svg" alt="notification icon">
        </form>
        <button type="button" class="btn btn-outline-warning">Adicionar Projeto</button>
    </div>
</nav>