<div class="content-page">
  <div class="user-profile row-12">
    <div class="col-4" style="border-right: solid 1px gray; padding-right: 20px;">
      <div class="user-info mb-4 mt-3" id="user-name"
        style="display: flex; justify-content: center;">
        <span>{{ user.nome }}</span>

        <!-- colocar aqui tipo e Perfil -->
      </div>

      <div class="border-table">
        <table class="table table-borderless">
          <thead>
            <tr style="text-align: center;">
              <th colspan="3">Meus Projetos</th>
            </tr>
            <tr style="text-align: center;">
              <th scope="col">Publicados</th>
              <th scope="col">Investidos</th>
              <th scope="col">Finalizados</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align: center;">
              <!-- <td>{{ userProfile.pPublicados }}</td>
              <td>{{ userProfile.pInvestidos }}</td>
              <td>{{ userProfile.pFinalizados }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-8 details-profile">
      <h1>Dados do Perfil</h1>

      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Informações Pessoais</h2>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#UserProfileFormModal">
          Editar perfil
        </button>
      </div>

      <div class="row g-3">
        <div style="display: flex; align-items: center;">
          <h4>Tipo de Perfil</h4>
          <div class="user-type" style="margin-left: 23px;">
            <h5>
              {{ user.perfil }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">Nome</h4>
          <div class="user-fname">
            <h5>
              {{ user.nome }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">Sobrenome</h4>
          <div class="user-lname">
            <h5>
              {{ user.sobrenome }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">E-mail</h4>
          <div class="user-email">
            <h5>
              {{ user.email }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">Telefone</h4>
          <div class="user-phone">
            <h5>
              {{ user.telefone }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">Cidade</h4>
          <div class="user-city">
            <h5>
              {{ user.cidade }}
            </h5>
          </div>
        </div>

        <div class="col-md-4">
          <h4 class="mb-2">Estado</h4>
          <div class="user-state">
            <h5>
              {{ user.uf }}
            </h5>
          </div>
        </div>

        <div class="user-info mt-3">
          <h3>Redes Sociais</h3>
          <!-- <div *ngFor="let link of userProfile.socialLinks">
            <a [href]="link.url" target="_blank">{{ link.platform }}</a>
          </div> -->
        </div>

        <div class="details mt-3">
          <h3>Descrição do perfil</h3>
          <!-- <div class="user-datils-div">{{ userProfile.details }}</div> -->
        </div>

      </div>

      <!--Modal edit profile-->
      <!-- Modal Data -->

    </div>
  </div>
</div>