<div class="body">
    <app-my-projects-section></app-my-projects-section>
    <div style="display: flex;">
        <app-project-group-section></app-project-group-section>
        <app-schedule-section></app-schedule-section>
    </div>
</div>







<!-- <main>
    <section class="meus-projetos">
        <div class="container">
            <div class="my-projects">
                <div class="title-section">
                    <img class="mp-icon" src="../../../assets/img/icon/myprojects-icon.svg">
                    <div class="text">
                        <h1>Meus Projetos</h1>
                        <a>
                            <h5>Ver Todos</h5>
                        </a>
                    </div>

                </div>
                <div class="my-projects-itens">
                    <app-card-project></app-card-project>
                    <div><app-card-project></app-card-project></div>
                    <div><app-card-project></app-card-project></div>
                    <div><app-card-project></app-card-project></div>
                </div>
            </div>
        </div>
    </section>

    <section class="meus-grupos">
        <div class="container">
            <div class="my-teams">
                <div class="title-section">
                    <img class="mg-icon" src="../../../assets/img/icon/myprojects-icon.svg">
                    <div class="text">
                        <h1>Meus Grupos</h1>
                        <a>
                            <h5>Ver Todos</h5>
                        </a>
                    </div>

                </div>
                <div class="my-teams-itens">
                    <div><app-card-project></app-card-project></div>
                    <div><app-card-project></app-card-project></div>
                    <div><app-card-project></app-card-project></div>
                    <div><app-card-project></app-card-project></div>
                </div>
            </div>
        </div>
    </section>
</main> -->