<div class="body row">
    <div class="my-projects col col-10 me-4 d-flex flex-wrap">
        <div class="first-content">
            <div class="title">
                <img src="../../assets/img/icon/rectangle-icon.svg" alt="icon" style="width: 15px; height: 40px;">
                <h1>Meus Projetos</h1>
            </div>
            <div class="btn_sm">
                <a>Ver Todos</a>
            </div>
        </div>
        <div class="s-cards">
            <!-- <app-schedule></app-schedule> -->
            <app-card-project></app-card-project>
        </div>
    </div>
    <div class="cronograma col col-2">
        <div class="first-content">
            <div class="title">
                <img src="../../assets/img/icon/schedule-section-icon.svg" alt="icon"
                    style="width: 15px; height: 40px;">
                <h1>Cronograma</h1>
            </div>
            <div class="btn_sm">
                <a>Ver Todos</a>
            </div>
        </div>
        <div class="section-content">
            <div>
                <img src="../../assets/img/icon/schedule-icon.svg" alt="...">
            </div>
        </div>
    </div>

</div>

