Modal
<!-- <div class="a">
  <div class="modal modal-lg fade" id="UploadProjectFormModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row" style="height: fit-content;">

            <div class="col-9 left-content">
              <form [formGroup]="updateProjectForm">
                <div class="header">
                  <div class="row" style="height: fit-content;">
                    <div class="col-6 p-0 photo"  style="height: 160px;">
                      <div>
                        <div class="AddFile">
                          <label for="fileBytes">
                            <img alt="Adicione um foto ao projeto">
                          </label>
                          <input formControlName="fileBytes" type="file" name="formFile" id="fileBytes" (change)="onFileSelected($event)">
                        </div>
                      </div>
                    </div>

                    <div class="col-6 p-0 inputs-header">
                      <input type="text" class="form-control" formControlName="nomeProjeto"
                        placeholder="Insira o Título" aria-label="Titulo Projeto">
                        
                      <input type="text" class="form-control" formControlName="subtitulo"
                        placeholder="Insira o Subtítulo" aria-label="Subtitulo Projeto">

                        <div class="lb-date">
                          <label class="mb-2" for="dataPublicacao">Data de Publicação:</label>
                          <input type="text" id="dataPublicacao" formControlName="dataPublicacao" readonly>
                        </div>
                    </div>
                  </div>
                </div> -->

                <!--Descrição do projeto-->
                <!-- <div class="form-group">
                  <div class="mb-3 details">
                    <label for="descricaoProjeto" class="form-label mb-3">Descrição</label>
                    <textarea class="form-control" formControlName="descricaoProjeto" id="descricaoProjeto" rows="6"
                      placeholder="Este campo destina-se à inserção da descrição do projeto, fornecendo uma explicação concisa sobre objetivos e características essenciais. Uma descrição clara e informativa ajudará a comunicar de maneira eficaz os detalhes de seu projeto, facilitando sua compreensão. Seja detalhado, mas objetivo para garantir compreensão rápida e precisa."></textarea>
                  </div>
                </div>

                <section class="project-group mb-3">
                  <h2>Equipe de Projeto</h2>

                </section>

                <div class="modal-footer" style="border: none;">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button (click)="postForm()" data-bs-dismiss="modal"
                    type="submit" class="btn btn-primary">Publicar</button>
                </div>
                [disabled]="this.postProjectForm.invalid"</div> -->
              <!-- </form>
            </div> -->

            <!--Conteudo a direita-->
            <!-- <div class="col-3 right-content">
              <section class="project-progress" style="border-bottom: solid 1px white;">
                <h2>Andamento do Projeto</h2>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>

                <h2>Média de duração do projeto</h2>

                <h4>-- meses</h4>
              </section>

              <section class="project-group">
                <h2>Equipe de Projeto</h2>

                <div class="participante">
                  <div class="photo"></div>
                  <h4>Nome Participante</h4>
                </div>

                <div class="btn-add-part">
                  <div class="btn-add"></div>
                  <h4>Adicionar Partici...</h4>
                </div>
              </section>

              <section>
                <h2>Atualizações</h2>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UploadProjectFormModal">
    Launch demo modal
  </button>
</div> -->