.my-projects{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: white;
}

.first-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}