@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color_azulprincipal: #075DD3;
$color_amareloprincipal: #F0A519;
$color_azulsecundario: #A6C4EE;
$color_amarelosecundario: #F3C979;
$color_fundodark: #22272E;
$color_dark2: #1F2226;
$color_compfundo: #2B3238;
$color_compfundo2: #3C464E;
$color_cinza: #AAAAAA;
$color_desabilitado: #586270;
$color_textos: #E5E5E5;

*{
    margin: 0;
    font-family: 'Poppins';
}

body{
    background-color: $color_compfundo;
    overflow: hidden;
}


