@import "../../../../../projeto-educainvest/src/styles.scss";

* {
    color: $color_textos;
}



.schedule-tasks {
    background-color: $color_compfundo2;
    border-radius: 7px;
    padding: 10px;


    button {
        background-color: none;
    }

    table {

        th {
            border-radius: 7px 0 0 7px;
            border-right: solid 1px $color_textos;
            background-color: $color_compfundo;
            height: 20px;
        }

        td{
            border-left: solid 1px $color_textos;  
            background-color: $color_compfundo;
            height: 20px;
        }

        select{
            height: 20px;
        }
    }
}

.btn-add {
    // padding: 0;
    // width: max-content;

    // .btn {
    //     display: flex;
    //     justify-content: center;
    //     width: min-content;
    //     padding: 5px;
    // }

    .btn:hover {
        background-color: #aaaaaa10;
        border-radius: 50%;
    }
}

.schedule-tasks input {
    height: 25px;
    width: 155px;
    background-color: $color_fundodark2;
    color: $color_textos;
    border: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.233);
    // border-radius: 3px;
    // padding: 12px;
    font-size: 14px;
}

.schedule-tasks input:hover {
    border-bottom: solid 1px $color_textos;
    transition: 0.7s;
}

.schedule-tasks {
    ::-webkit-input-placeholder {
        color: $color_textos;
        font-size: 15px;
        // font-weight: 300;
        // text-align: justify;
        // opacity: 55%;
        // font-size: 14px;
    }

}